<% layout('layout')-%>
<div class="starter-template">
  <h1>Account</h1>

  <p>
    Your name: <%=loggedUser.name %><br>
    Your email: <%=loggedUser.email %><br>
  </p>

  <p><a href="/logout">Logout</a></p>
</div>
