<% layout('layout')-%>
<div class="starter-template">
  <h1>Login page</h1>
  <p>Մուտք գործեք մեր հիանալի կայք:</p>

  <form action="/login" method="post">
    <input type="text" name="email" placeholder="Email" class="form-control"><br>
    <input type="password" name="password" placeholder="Password" class="form-control"><br>
    <input type="submit" value="Login" class="btn btn-danger">
  </form>
</div>
